Software/Node-UI/flows - Ver 02(final).json
[{"id":"153bcd04.3e75e3","type":"tab","label":"UIProject","disabled":false,"info":""},{"id":"2fe201d5.67ac7e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"127defd6.1be63","type":"mqtt-broker","name":"TTNServer","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fd98eed6.b80c2","type":"ui_group","name":"Status/Request","tab":"fb24ad2a.47567","order":5,"disp":true,"width":"6","collapse":false},{"id":"474f1f48.018cf","type":"ui_group","name":"InforGauge","tab":"fb24ad2a.47567","order":2,"disp":true,"width":"6","collapse":false},{"id":"ae06c442.0250d8","type":"ui_group","name":"Histogram","tab":"fb24ad2a.47567","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe5a5f00.62a4f","type":"ui_group","name":"Mix","tab":"fb24ad2a.47567","order":3,"disp":true,"width":"6","collapse":false},{"id":"6588d8e8.4c5668","type":"ui_group","name":"More","tab":"fb24ad2a.47567","order":4,"disp":true,"width":"6","collapse":false},{"id":"fb24ad2a.47567","type":"ui_tab","name":"HTW Smart Garden","icon":"dashboard","disabled":false,"hidden":false},{"id":"d57270a6.c4d35","type":"ui_spacer","name":"spacer","group":"fe5a5f00.62a4f","order":4,"width":6,"height":1},{"id":"b5c2f0a4.c6159","type":"ui_spacer","d":true,"name":"spacer","group":"fd98eed6.b80c2","order":8,"width":6,"height":1},{"id":"b3fe703d.61193","type":"telegram bot","botname":"HTWGardenBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"225cf5de.6de84a","type":"remote-config","name":"Node-RED UI","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"mf1iyty67gp3qb0h8t6bak7xycfmhz1wvfoodhnylxlifiemqspfwivwrjxbd7oq","server":"nodered02.remote-red.com","region":"de"},{"id":"a7466e8c.c0116","type":"mqtt in","z":"153bcd04.3e75e3","name":"ServerCenter","topic":"mygardenproject/devices/sensortest02/up","qos":"0","datatype":"json","broker":"127defd6.1be63","nl":false,"rap":true,"rh":0,"x":90,"y":120,"wires":[["a2fade88.48b55","86ea4a08.cb9a48","c94a5f6c.03498","43978d65.fa8264","95a237ea.da57c8","5d146291.1951dc","f4efc2ab.6136a","924f83bd.d50d7","a7d1e75b.ce6758","54c5ced1.4b655","b8d126a5.deef68","8af29482.972218","108ac1ba.9f579e","f8bbba04.1d9e28","f39512c8.9faba","668c555c.f885cc","cb252808.ccba58","b1093e29.9d96f","5f290069.ad0e4"]]},{"id":"60aeb035.3db8f","type":"debug","z":"153bcd04.3e75e3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":640,"wires":[]},{"id":"a2fade88.48b55","type":"trigger","z":"153bcd04.3e75e3","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":460,"y":20,"wires":[["e3d71cf3.e169f"]]},{"id":"108ac1ba.9f579e","type":"ui_gauge","z":"153bcd04.3e75e3","name":"","group":"474f1f48.018cf","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{msg.payload.payload_fields[\"Temperatur\"]}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"35","x":470,"y":100,"wires":[]},{"id":"ce3c5db9.c567a","type":"ui_gauge","z":"153bcd04.3e75e3","name":"","group":"474f1f48.018cf","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#39b300","#e6e600","#1fbcff"],"seg1":"70","seg2":"85","x":460,"y":140,"wires":[]},{"id":"abb980af.3b8bc","type":"ui_gauge","z":"153bcd04.3e75e3","name":"","group":"474f1f48.018cf","order":3,"width":"6","height":"4","gtype":"gage","title":"Soil Dryness Value","label":"%","format":"{{value}}","min":"75","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"85","seg2":"95","x":490,"y":180,"wires":[]},{"id":"562efbeb.48c4a4","type":"ui_gauge","z":"153bcd04.3e75e3","name":"","group":"474f1f48.018cf","order":4,"width":6,"height":4,"gtype":"wave","title":"Water Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":220,"wires":[]},{"id":"c782c291.9d908","type":"ui_chart","z":"153bcd04.3e75e3","name":"","group":"ae06c442.0250d8","order":1,"width":0,"height":0,"label":"Temperatur History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":120,"wires":[[]]},{"id":"b8393e51.65422","type":"ui_chart","z":"153bcd04.3e75e3","name":"","group":"ae06c442.0250d8","order":2,"width":0,"height":0,"label":"Humidity History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":160,"wires":[[]]},{"id":"50b2dcf5.dc0814","type":"ui_chart","z":"153bcd04.3e75e3","name":"","group":"ae06c442.0250d8","order":3,"width":0,"height":0,"label":"Moisture History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":820,"y":200,"wires":[[]]},{"id":"bc6116d.5afefe8","type":"ui_chart","z":"153bcd04.3e75e3","name":"","group":"ae06c442.0250d8","order":4,"width":0,"height":0,"label":"Water Level History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":830,"y":240,"wires":[[]]},{"id":"63a37d54.ce04d4","type":"ui_gauge","z":"153bcd04.3e75e3","name":"","group":"fe5a5f00.62a4f","order":5,"width":0,"height":0,"gtype":"gage","title":"Air Pressure","label":"Bar","format":"{{value}}","min":"0.9","max":"1.1","colors":["#35a7ed","#14b9ff","#0db1e7"],"seg1":"","seg2":"","x":470,"y":460,"wires":[]},{"id":"ee47d846.efee88","type":"ui_gauge","z":"153bcd04.3e75e3","name":"","group":"fe5a5f00.62a4f","order":1,"width":0,"height":0,"gtype":"compass","title":"Water Pressure","label":"Bar","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":300,"wires":[]},{"id":"4545c09d.d0f4","type":"ui_text","z":"153bcd04.3e75e3","group":"fe5a5f00.62a4f","order":2,"width":6,"height":1,"name":"","label":"Waterflow Speed (L/m)","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":380,"wires":[]},{"id":"6606f007.04cec","type":"ui_chart","z":"153bcd04.3e75e3","name":"","group":"6588d8e8.4c5668","order":4,"width":0,"height":0,"label":"Streng of Signal","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":780,"y":420,"wires":[[]]},{"id":"a9cc0ec8.59628","type":"ui_text","z":"153bcd04.3e75e3","group":"fe5a5f00.62a4f","order":3,"width":6,"height":1,"name":"","label":"Waterflow Volume (L)","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":340,"wires":[]},{"id":"d488d0fe.ec77c","type":"ui_chart","z":"153bcd04.3e75e3","name":"","group":"6588d8e8.4c5668","order":1,"width":0,"height":0,"label":"Water Pressure Histogram","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":280,"wires":[[]]},{"id":"5ca519f4.31ebd8","type":"ui_chart","z":"153bcd04.3e75e3","name":"","group":"6588d8e8.4c5668","order":2,"width":0,"height":0,"label":"Waterflow Speed Histogram","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":520,"y":420,"wires":[[]]},{"id":"ef00ebb5.e554f8","type":"ui_chart","z":"153bcd04.3e75e3","name":"","group":"6588d8e8.4c5668","order":3,"width":0,"height":0,"label":"Signal Noise","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":460,"wires":[[]]},{"id":"e3d71cf3.e169f","type":"ui_led","z":"153bcd04.3e75e3","order":1,"group":"fd98eed6.b80c2","width":0,"height":0,"label":"Update-Signal","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Led (update signal)","x":1050,"y":40,"wires":[]},{"id":"5037aaa6.65d714","type":"ui_led","z":"153bcd04.3e75e3","order":2,"group":"fd98eed6.b80c2","width":0,"height":0,"label":"Ventil opened","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#3498db","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Led (open ventil)","x":1050,"y":80,"wires":[]},{"id":"cd0f9d4d.0309f","type":"ui_led","z":"153bcd04.3e75e3","order":3,"group":"fd98eed6.b80c2","width":0,"height":0,"label":"Pump running","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Led (pump running)","x":1050,"y":120,"wires":[]},{"id":"9ce6f09.388681","type":"ui_slider","z":"153bcd04.3e75e3","name":"","label":"Moisture-On (%)","tooltip":"","group":"fd98eed6.b80c2","order":11,"width":6,"height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"86","max":"100","step":1,"x":1100,"y":180,"wires":[["eadb1a81.5758a8"]]},{"id":"7092b3a7.cfe71c","type":"ui_slider","z":"153bcd04.3e75e3","name":"","label":"Moisture-Off (%)","tooltip":"","group":"fd98eed6.b80c2","order":12,"width":6,"height":"2","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"70","max":"85","step":1,"x":1100,"y":240,"wires":[["2524dfe5.18f5d"]]},{"id":"6dcb136c.4b21cc","type":"ui_slider","z":"153bcd04.3e75e3","name":"","label":"Water Lvl-Off (%)","tooltip":"","group":"fd98eed6.b80c2","order":13,"width":6,"height":"2","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"5","max":"95","step":"5","x":1110,"y":300,"wires":[["d0ceacde.e1a8a"]]},{"id":"68266204.af06cc","type":"ui_slider","z":"153bcd04.3e75e3","name":"","label":"Water Vol-Off (L)","tooltip":"","group":"fd98eed6.b80c2","order":14,"width":6,"height":"2","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"5","max":"200","step":"5","x":1110,"y":360,"wires":[["ad3c3372.9db2a"]]},{"id":"3e1bc33c.c76b9c","type":"ui_switch","z":"153bcd04.3e75e3","name":"","label":"Master Switch (Manual Mode)","tooltip":"switch right to turn on Manual Mode, switch left to go to Auto Mode","group":"fd98eed6.b80c2","order":5,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1070,"y":480,"wires":[["98533d41.5f162"]]},{"id":"c3c6d2ab.b3d4e","type":"ui_switch","z":"153bcd04.3e75e3","name":"","label":"(Manual Mode) Turn On/Off Watering","tooltip":"switch right to turn on ventil and pump, switch left to turn off both of them","group":"fd98eed6.b80c2","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1090,"y":540,"wires":[["fb81a2a9.e4f81"]]},{"id":"c336596c.a1bb08","type":"ui_gauge","z":"153bcd04.3e75e3","name":"","group":"fe5a5f00.62a4f","order":6,"width":0,"height":0,"gtype":"gage","title":"Water Pressure in Hose","label":"Bar","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":320,"wires":[]},{"id":"86ea4a08.cb9a48","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"gardenTemperatur\",Number(msg.payload.payload_fields[\"Temperatur\"]))\n//return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]) };\nreturn  { payload: flow.get(\"gardenTemperatur\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":120,"wires":[["c782c291.9d908"]]},{"id":"cc3778e7.369948","type":"comment","z":"153bcd04.3e75e3","name":"Variable","info":"From Lora32 on TTN\n- flow.get(\"gardenTemperatur\"): Temperatur Value\n- flow.get(\"gardenHumidity\") : Humidity Value\n- flow.get(\"gardenSolidMoisture\")\n- flow.get(\"gardenWaterLevel\")\n- flow.get(\"gardenWaterPressure\")\n- flow.get(\"gardenWaterFlowVolume\")\n- flow.get(\"gardenWaterFlowSpeed\")\n- flow.get(\"gardenAirPressure\")\n- flow.get(\"gardenManualMode\")\n- flow.get(\"gardenOpenVentil\")\n- flow.get(\"gardenOpenPump\")\n\nOn Dashboard sent to TTN\n- flow.get(\"defaultMoistureOnValue\")\n- flow.get(\"defaultMoistureOffValue\")\n- flow.get(\"defaultWaterLevelOffValue\")\n- flow.get(\"defaultWaterVolumeOffValue\")\n\nInternal on Dashboard\n- flow.get(\"updateNofity\")","x":1230,"y":80,"wires":[]},{"id":"c94a5f6c.03498","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"gardenHumidity\",Number(msg.payload.payload_fields[\"Humidity\"]))\n//return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]) };\nreturn  { payload: flow.get(\"gardenHumidity\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":160,"wires":[["ce3c5db9.c567a","b8393e51.65422"]]},{"id":"43978d65.fa8264","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"gardenSolidMoisture\",Number(msg.payload.payload_fields[\"SolidMoisture\"]))\n//return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]) };\nreturn  { payload: flow.get(\"gardenSolidMoisture\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":200,"wires":[["abb980af.3b8bc","50b2dcf5.dc0814"]]},{"id":"95a237ea.da57c8","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"gardenWaterLevel\",Number(msg.payload.payload_fields[\"WaterLevel\"]))\n//return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]) };\nreturn  { payload: flow.get(\"gardenWaterLevel\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":240,"wires":[["562efbeb.48c4a4","bc6116d.5afefe8"]]},{"id":"5d146291.1951dc","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"gardenWaterPressure\",Number(msg.payload.payload_fields[\"WaterPressure\"]))\n//return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]) };\nreturn  { payload: flow.get(\"gardenWaterPressure\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":280,"wires":[["ee47d846.efee88","d488d0fe.ec77c"]]},{"id":"f4efc2ab.6136a","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"gardenWaterFlowVolume\",Number(msg.payload.payload_fields[\"WaterVol\"]||0))\n//return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]) };\nreturn  { payload: flow.get(\"gardenWaterFlowVolume\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":320,"wires":[["a9cc0ec8.59628"]]},{"id":"924f83bd.d50d7","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"gardenWaterFlowSpeed\",Number(msg.payload.payload_fields[\"WaterSpeed\"]||0))\n//return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]) };\nreturn  { payload: flow.get(\"gardenWaterFlowSpeed\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":360,"wires":[["4545c09d.d0f4","5ca519f4.31ebd8"]]},{"id":"a7d1e75b.ce6758","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"gardenAirPressure\",Number(msg.payload.payload_fields[\"AirPressure\"]))\n//return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]) };\nreturn  { payload: flow.get(\"gardenAirPressure\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":460,"wires":[["63a37d54.ce04d4"]]},{"id":"54c5ced1.4b655","type":"function","z":"153bcd04.3e75e3","name":"","func":"return { payload: Number(msg.payload.metadata.gateways[0].rssi) };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":500,"wires":[["6606f007.04cec"]]},{"id":"b8d126a5.deef68","type":"function","z":"153bcd04.3e75e3","name":"","func":"return { payload: Number(msg.payload.metadata.gateways[0].snr) };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":540,"wires":[["ef00ebb5.e554f8"]]},{"id":"8af29482.972218","type":"function","z":"153bcd04.3e75e3","name":"","func":"//flow.set(\"gardenWaterPressure\",Number(msg.payload.payload_fields[\"WaterPressure\"]))\n//return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]) };\nreturn  { payload: (flow.get(\"gardenWaterPressure\")-flow.get(\"gardenAirPressure\")).toFixed(3) };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":320,"wires":[["c336596c.a1bb08"]]},{"id":"f8bbba04.1d9e28","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"gardenOpenVentil\",Boolean(msg.payload.payload_fields[\"openVentil\"]))\n//return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]) };\nreturn  { payload: flow.get(\"gardenOpenVentil\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":60,"wires":[["5037aaa6.65d714"]]},{"id":"f39512c8.9faba","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"gardenManualMode\",Boolean(msg.payload.payload_fields[\"manualMode\"]))\n//flow.set(\"gardenManualMode\",Boolean(msg.payload.payload_fields[\"manualMode\"]))\n//return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]) };\nreturn  { payload: flow.get(\"gardenManualMode\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":560,"wires":[["3e1bc33c.c76b9c","710c3b6a.ba9a14","2db5726f.f0d36e"]]},{"id":"17a82749.b94069","type":"mqtt out","z":"153bcd04.3e75e3","name":"toServerCenter","topic":"mygardenproject/devices/sensortest02/down","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"127defd6.1be63","x":1520,"y":220,"wires":[]},{"id":"710c3b6a.ba9a14","type":"debug","z":"153bcd04.3e75e3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":700,"wires":[]},{"id":"98533d41.5f162","type":"function","z":"153bcd04.3e75e3","name":"sendUpdateManualMode?","func":"flow.set(\"boardWishStateMM\",msg.payload);\n//if (msg.payload!=flow.get(\"gardenManualMode\"))\n//return {payload:true}\n//else return {payload:false};\n\nreturn { payload: msg.payload!=flow.get(\"gardenManualMode\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":460,"wires":[["85b5ad2b.09fae"]]},{"id":"85b5ad2b.09fae","type":"switch","z":"153bcd04.3e75e3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":400,"wires":[["60aeb035.3db8f","6319048a.57eafc"]]},{"id":"6319048a.57eafc","type":"function","z":"153bcd04.3e75e3","name":"","func":"return { payload: {\"port\":1,\"confirmed\":false,\"payload_raw\":Buffer.from(String(flow.get(\"boardWishStateMM\")?81001:80001)).toString('base64')} };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":320,"wires":[["17a82749.b94069"]]},{"id":"2db5726f.f0d36e","type":"ui_text","z":"153bcd04.3e75e3","group":"fd98eed6.b80c2","order":4,"width":0,"height":0,"name":"","label":"System Current Mode:","format":"{{msg.payload?\"Manual Mode\":\"Auto Mode\"}}","layout":"row-spread","x":1040,"y":440,"wires":[]},{"id":"a3cafe6e.c8b72","type":"ui_switch","z":"153bcd04.3e75e3","name":"","label":"Debug Mode","tooltip":"Change how fast the system will be updated. Turn on debug mode for quick update and v.v","group":"fd98eed6.b80c2","order":7,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1010,"y":600,"wires":[["7d02df63.c9154"]]},{"id":"7d02df63.c9154","type":"function","z":"153bcd04.3e75e3","name":"","func":"return { payload: {\"port\":1,\"confirmed\":false,\"payload_raw\":Buffer.from(String(msg.payload?91001:90001)).toString('base64')} };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":600,"wires":[["17a82749.b94069"]]},{"id":"fb81a2a9.e4f81","type":"function","z":"153bcd04.3e75e3","name":"","func":"return { payload: {\"port\":1,\"confirmed\":false,\"payload_raw\":Buffer.from(String(msg.payload?11001:10001)).toString('base64')} };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":720,"wires":[["17a82749.b94069"]]},{"id":"b0593fdb.38c01","type":"function","z":"153bcd04.3e75e3","name":"setDefaultConditionValue","func":"flow.set(\"defaultMoistureOnValue\",flow.get(\"defaultMoistureOnValue\")||95);\nflow.set(\"defaultMoistureOffValue\",flow.get(\"defaultMoistureOffValue\")||90);\nflow.set(\"defaultWaterLevelOffValue\",flow.get(\"defaultWaterLevelOffValue\")||10);\nflow.set(\"defaultWaterVolumeOffValue\",flow.get(\"defaultWaterVolumeOffValue\")||10);\n//return [[{payload:flow.get(\"defaultMoistureOnValue\")},{payload:flow.get(\"defaultMoistureOffValue\")},{payload:flow.get(\"defaultWaterLevelOffValue\")},{payload:flow.get(\"defaultWaterVolumeOffValue\")}]];\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":560,"wires":[["6e4d575f.65dbb8","d3d017ec.7c2d38","d400e7c6.9cf4d8","b4172d0a.4a709"]]},{"id":"668c555c.f885cc","type":"trigger","z":"153bcd04.3e75e3","name":"","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":220,"y":500,"wires":[["b0593fdb.38c01"]]},{"id":"6e4d575f.65dbb8","type":"function","z":"153bcd04.3e75e3","name":"","func":"\nreturn {payload:flow.get(\"defaultMoistureOnValue\")};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":600,"wires":[["9ce6f09.388681"]]},{"id":"eadb1a81.5758a8","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"defaultMoistureOnValue\",msg.payload);\nreturn { payload: {\"port\":1,\"confirmed\":false,\"payload_raw\":Buffer.from(String(msg.payload+21000)).toString('base64')} };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":140,"wires":[["17a82749.b94069"]]},{"id":"d3d017ec.7c2d38","type":"function","z":"153bcd04.3e75e3","name":"","func":"return {payload:flow.get(\"defaultMoistureOffValue\")}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":640,"wires":[["7092b3a7.cfe71c"]]},{"id":"d400e7c6.9cf4d8","type":"function","z":"153bcd04.3e75e3","name":"","func":"\nreturn {payload:flow.get(\"defaultWaterLevelOffValue\")};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":680,"wires":[["6dcb136c.4b21cc"]]},{"id":"b4172d0a.4a709","type":"function","z":"153bcd04.3e75e3","name":"","func":"\nreturn {payload:flow.get(\"defaultWaterVolumeOffValue\")};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":720,"wires":[["68266204.af06cc"]]},{"id":"2524dfe5.18f5d","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"defaultMoistureOffValue\",msg.payload);\nreturn { payload: {\"port\":1,\"confirmed\":false,\"payload_raw\":Buffer.from(String(msg.payload+20000)).toString('base64')} };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":180,"wires":[["17a82749.b94069"]]},{"id":"d0ceacde.e1a8a","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"defaultWaterLevelOffValue\",msg.payload);\nreturn { payload: {\"port\":1,\"confirmed\":false,\"payload_raw\":Buffer.from(String(msg.payload+30000)).toString('base64')} };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":220,"wires":[["17a82749.b94069"]]},{"id":"ad3c3372.9db2a","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"defaultWaterVolumeOffValue\",msg.payload);\nreturn { payload: {\"port\":1,\"confirmed\":false,\"payload_raw\":Buffer.from(String(msg.payload+40000)).toString('base64')} };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":260,"wires":[["17a82749.b94069"]]},{"id":"5edb0ef7.3c99f","type":"telegram receiver","z":"153bcd04.3e75e3","name":"HTWGardenBot","bot":"b3fe703d.61193","saveDataDir":"","filterCommands":false,"x":240,"y":760,"wires":[["2a138a1f.074636"],[]]},{"id":"9e2cb2ba.dedc8","type":"telegram sender","z":"153bcd04.3e75e3","name":"HTWGardenBot","bot":"b3fe703d.61193","haserroroutput":false,"outputs":1,"x":880,"y":820,"wires":[[]]},{"id":"2a138a1f.074636","type":"debug","z":"153bcd04.3e75e3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":880,"wires":[]},{"id":"23ed2f2e.1b2be","type":"telegram command","z":"153bcd04.3e75e3","name":"Command Help","command":"/help","bot":"b3fe703d.61193","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":240,"y":820,"wires":[["97e517b2.72a2b8"],[]]},{"id":"97e517b2.72a2b8","type":"function","z":"153bcd04.3e75e3","name":"","func":"\nreturn {payload:{chatId: msg.payload.chatId,type: \"message\",content: \"This is auto Bot of Project HtwGardenSS21.\\n\\nWith help of this bot, you can quickly query some important information of HTW Smart Garden.\\nUse /help to get general infomation.\\nUse /status for detail status\"}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":820,"wires":[["9e2cb2ba.dedc8"]]},{"id":"a8cf4ec0.45e1f","type":"telegram command","z":"153bcd04.3e75e3","name":"Command Status","command":"/status","bot":"b3fe703d.61193","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":240,"y":880,"wires":[["7a4afca4.fbf274"],[]]},{"id":"7a4afca4.fbf274","type":"function","z":"153bcd04.3e75e3","name":"","func":"\nlet payload = {chatId: msg.payload.chatId,type: \"message\",content: \n`Hi there, \\nThe current status of our garden is:\\n\nTemperatur  ${flow.get(\"gardenTemperatur\")}°C\nHumidity  ${flow.get(\"gardenHumidity\")}%\nSoil Moisture  ${flow.get(\"gardenSolidMoisture\")}%\nWater Level  ${flow.get(\"gardenWaterLevel\")}%\nWater Pressure  ${flow.get(\"gardenWaterPressure\")} Bar\nAirPressure  ${flow.get(\"gardenAirPressure\")} Bar\nWaterflow Speed  ${flow.get(\"gardenFlowSpeed\")||0} L/min\nWaterflow Volume  ${flow.get(\"gardenFlowVolume\")||0} L\nManual Mode  ${flow.get(\"gardenManualMode\")}\nVentil opened  ${flow.get(\"gardenOpenVentil\")}\nPump running  ${flow.get(\"gardenOpenPump\")}\n\nCurrent controlling Value:\n\nSoil Dryness to turn on watering automatically ${flow.get(\"defaultMoistureOnValue\")}%\nSoil Dryness to turn off automatically ${flow.get(\"defaultMoistureOffValue\")}%\nWaterlevel to turn off automatically ${flow.get(\"defaultWaterLevelOffValue\")}%\nWater Volume to turn off automatically ${flow.get(\"defaultWaterVolumeOffValue\")}L\n`}\nreturn {payload};\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":880,"wires":[["9e2cb2ba.dedc8"]]},{"id":"4ef9e57b.7511ec","type":"remote-access","z":"153bcd04.3e75e3","confignode":"225cf5de.6de84a","name":"Mobile Connect","verbose":0,"x":1440,"y":80,"wires":[[]]},{"id":"cb252808.ccba58","type":"function","z":"153bcd04.3e75e3","name":"Mark","func":"var currentState = flow.get(\"gardenOpenPump\")||false;\nflow.set(\"updateNofity\",currentState!=msg.payload.payload_fields[\"openPump\"])\nflow.set(\"gardenOpenPump\",Boolean(msg.payload.payload_fields[\"openPump\"]))\n////return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]) };\nreturn  { payload: flow.get(\"gardenOpenPump\") };\n\n//return {payload:currentState!=msg.payload.payload_fields[\"openPump\"]}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":100,"wires":[["cd0f9d4d.0309f"]]},{"id":"b1093e29.9d96f","type":"function","z":"153bcd04.3e75e3","name":"Notify?","func":"\nreturn{payload:flow.get(\"updateNofity\")};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":760,"wires":[["8a465f52.6b538"]]},{"id":"8a465f52.6b538","type":"switch","z":"153bcd04.3e75e3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":760,"wires":[["3fc5bc50.a73524"]]},{"id":"3fc5bc50.a73524","type":"function","z":"153bcd04.3e75e3","name":"Sending Target Controller","func":"\nvar reply = flow.get(\"gardenOpenPump\")?\"Watering is now activated\":\"Watering is now deactivated\";\n\nvar msg01 = {payload:{chatId: 871790929,type: \"message\",content: reply}};\n//let msg02 = {payload:{chatId: 1502932096,type: \"message\",content: reply}};\n//let msg03 = {payload:{chatId: 1490430167,type: \"message\",content: reply}};\n\n//let msg04 = {payload:{chatId: 1353089347,type: \"message\",content: reply}};\nreturn [[msg01,null]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":700,"wires":[["9e2cb2ba.dedc8"]]},{"id":"5ab5e440.5846ac","type":"ui_text","z":"153bcd04.3e75e3","group":"fd98eed6.b80c2","order":10,"width":"6","height":"1","name":"","label":"Controlling Parameters in","format":"Auto Mode","layout":"row-spread","x":1050,"y":660,"wires":[]},{"id":"9385e271.7e359","type":"ui_text","z":"153bcd04.3e75e3","group":"fd98eed6.b80c2","order":9,"width":"6","height":"1","name":"","label":"Notifiy Code","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":780,"wires":[]},{"id":"5f290069.ad0e4","type":"function","z":"153bcd04.3e75e3","name":"","func":"flow.set(\"gardenNotifyCode\",Number(msg.payload.payload_fields[\"notifyCode\"])||0);\nvar showText =\"\";\nswitch(flow.get(\"gardenNotifyCode\")){\n    case 101: showText=\"Got stuck\";break;\n    case 102: showText=\"Pump defect\";break;\n    default: showText=\"None\";\n}\nreturn {payload:showText};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":640,"wires":[["9385e271.7e359","c096b0b2.4f3f8"]]},{"id":"c096b0b2.4f3f8","type":"debug","z":"153bcd04.3e75e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":860,"wires":[]}]