Software/Node-UI/flows - Ver 01.json
[{"id":"dc0dbbe0.fbfa58","type":"tab","label":"prototype","disabled":false,"info":""},{"id":"9b169ac5.42dde8","type":"mqtt in","z":"dc0dbbe0.fbfa58","name":"ServerCenter","topic":"mygardenproject/devices/sensorstest01/up","qos":"0","datatype":"json","broker":"7650f386.c257dc","nl":false,"rap":true,"rh":0,"x":150,"y":360,"wires":[["93504a66.721648","ef691031.41658","33a5ae10.66cdd2","edbc3479.7811c8","77545e61.b82ab","27e833dc.b6610c","1e543de2.911452","9db17fba.a511c","7f9d5dd5.548ff4","b79d70c.02a639","21f18247.a256de"]]},{"id":"93504a66.721648","type":"debug","z":"dc0dbbe0.fbfa58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":280,"wires":[]},{"id":"ef691031.41658","type":"ui_gauge","z":"dc0dbbe0.fbfa58","name":"","group":"e63b0385.d84da","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]}}","min":0,"max":"50","colors":["#0ebe52","#08aa39","#04b40f"],"seg1":"10","seg2":"25","x":610,"y":140,"wires":[]},{"id":"33a5ae10.66cdd2","type":"ui_gauge","z":"dc0dbbe0.fbfa58","name":"","group":"e63b0385.d84da","order":3,"width":0,"height":0,"gtype":"gage","title":"Feel Like","label":"°C","format":"{{payload.payload_fields[\"6097c45e1c3320001c7c97ad\"]}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"25","x":600,"y":180,"wires":[]},{"id":"edbc3479.7811c8","type":"ui_gauge","z":"dc0dbbe0.fbfa58","name":"","group":"e63b0385.d84da","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{payload.payload_fields[\"6097c45e1c3320001c7c97ac\"]}}","min":0,"max":"100","colors":["#287ab8","#669df4","#0b51c1"],"seg1":"2","seg2":"","x":600,"y":220,"wires":[]},{"id":"77545e61.b82ab","type":"function","z":"dc0dbbe0.fbfa58","name":"","func":"flow.set(\"gardenTemperatur\",Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]))\n//return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ab\"]) };\nreturn  { payload: flow.get(\"gardenTemperatur\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":380,"wires":[["f133c51a.73b2b8","859626fc.fcf978"]]},{"id":"f133c51a.73b2b8","type":"debug","z":"dc0dbbe0.fbfa58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":360,"wires":[]},{"id":"27e833dc.b6610c","type":"debug","z":"dc0dbbe0.fbfa58","name":"testdebug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.payload_fields.\"6097c45e1c3320001c7c97ab\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":600,"y":320,"wires":[]},{"id":"859626fc.fcf978","type":"ui_chart","z":"dc0dbbe0.fbfa58","name":"","group":"c56ebbb1.958f38","order":1,"width":0,"height":0,"label":"Temperatur History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":400,"wires":[[]]},{"id":"9b4a54b4.7cffb8","type":"ui_chart","z":"dc0dbbe0.fbfa58","name":"","group":"c56ebbb1.958f38","order":1,"width":0,"height":0,"label":"Humidity History","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"humidity","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":620,"y":440,"wires":[[]]},{"id":"65d6dd3d.c3e754","type":"ui_chart","z":"dc0dbbe0.fbfa58","name":"","group":"c56ebbb1.958f38","order":2,"width":0,"height":0,"label":"Feel Like","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":600,"y":480,"wires":[[]]},{"id":"1e543de2.911452","type":"function","z":"dc0dbbe0.fbfa58","name":"","func":"//return { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ac\"]) };\n\nflow.set(\"gardenHumidity\",Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ac\"]))\nreturn  { payload: flow.get(\"gardenHumidity\") };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":420,"wires":[["9b4a54b4.7cffb8","21bbd0d0.ac234","3e53e8b0.c589f8"]]},{"id":"9db17fba.a511c","type":"function","z":"dc0dbbe0.fbfa58","name":"","func":"\nreturn { payload: Number(msg.payload.payload_fields[\"6097c45e1c3320001c7c97ad\"]) };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":460,"wires":[["65d6dd3d.c3e754"]]},{"id":"4f8cf91f.a00458","type":"ui_chart","z":"dc0dbbe0.fbfa58","name":"","group":"61322fb.05df7d","order":7,"width":0,"height":0,"label":"Streng of Signal (dBm)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":640,"y":520,"wires":[[]]},{"id":"f163ddb5.06768","type":"ui_chart","z":"dc0dbbe0.fbfa58","name":"","group":"61322fb.05df7d","order":8,"width":0,"height":0,"label":"Signal-Noise (dB)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":560,"wires":[[]]},{"id":"7f9d5dd5.548ff4","type":"function","z":"dc0dbbe0.fbfa58","name":"","func":"\nreturn { payload: Number(msg.payload.metadata.gateways[0].rssi) };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":500,"wires":[["4f8cf91f.a00458"]]},{"id":"b79d70c.02a639","type":"function","z":"dc0dbbe0.fbfa58","name":"","func":"\nreturn { payload: Number(msg.payload.metadata.gateways[0].snr) };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":540,"wires":[["f163ddb5.06768"]]},{"id":"6d0c8597.aa9adc","type":"ui_switch","z":"dc0dbbe0.fbfa58","d":true,"name":"","label":"TurnOn/Off Actor","tooltip":"Switch right to turn on actor, switch left to turn off","group":"61322fb.05df7d","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"{\"port\":1,\"confirmed\":false,\"payload_raw\":\"MQ==\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"port\":1,\"confirmed\":false,\"payload_raw\":\"MA==\"}","offvalueType":"json","officon":"","offcolor":"","animate":false,"x":630,"y":840,"wires":[["f25839d2.d584a8"]]},{"id":"3fd743ac.1857ec","type":"ui_text","z":"dc0dbbe0.fbfa58","d":true,"group":"61322fb.05df7d","order":2,"width":0,"height":0,"name":"","label":"Switch Button to turn on/turn off Pump","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":800,"wires":[]},{"id":"d19f7cf.77cdb8","type":"mqtt out","z":"dc0dbbe0.fbfa58","name":"toServerCenter","topic":"mygardenproject/devices/sensorstest01/down","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7650f386.c257dc","x":1180,"y":560,"wires":[]},{"id":"f25839d2.d584a8","type":"debug","z":"dc0dbbe0.fbfa58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":840,"wires":[]},{"id":"21bbd0d0.ac234","type":"function","z":"dc0dbbe0.fbfa58","name":"","func":"\nreturn msg.payload >80? \n{ payload: {\"port\":1,\"confirmed\":false,\"payload_raw\":\"MQ==\"} }\n:{ payload: {\"port\":1,\"confirmed\":false,\"payload_raw\":\"MA==\"} };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":880,"wires":[["c8afa47b.7edbb8"]]},{"id":"c8afa47b.7edbb8","type":"debug","z":"dc0dbbe0.fbfa58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":880,"wires":[]},{"id":"20760023.f36ec","type":"ui_switch","z":"dc0dbbe0.fbfa58","name":"","label":"Master Switch (Auto/Manual Mode)","tooltip":"Swipe left to turn on AutoMode, swipe right to turn on Manual Mode","group":"61322fb.05df7d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"manualMode","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":180,"y":600,"wires":[["d5cebea0.4d83e"]]},{"id":"ee1e9ffd.4540f","type":"debug","z":"dc0dbbe0.fbfa58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":680,"wires":[]},{"id":"d5cebea0.4d83e","type":"function","z":"dc0dbbe0.fbfa58","name":"","func":"flow.set(\"manualMode\", msg.payload);\nreturn {\"payload\":flow.get(\"manualMode\")}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":600,"wires":[["ee1e9ffd.4540f"]]},{"id":"603f6267.4e767c","type":"ui_switch","z":"dc0dbbe0.fbfa58","name":"","label":"TurnOn/Off Actor (Manual)","tooltip":"Switch right to turn on actor, switch left to turn off","group":"61322fb.05df7d","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"switchManualTest","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":660,"y":600,"wires":[["ebfbdaec.04fea8"]]},{"id":"ebfbdaec.04fea8","type":"function","z":"dc0dbbe0.fbfa58","name":"ManualTrigger","func":"flow.set(\"switchManualTest\",msg.payload);\nreturn {payload:flow.get(\"switchManualTest\")};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":660,"wires":[["20fb026c.96798e"]]},{"id":"3e53e8b0.c589f8","type":"function","z":"dc0dbbe0.fbfa58","name":"AutoTrigger","func":"msg.payload > 80?flow.set(\"triggerBool\",true):flow.set(\"triggerBool\",false);\nreturn {payload:flow.get(\"triggerBool\")};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":700,"wires":[["20fb026c.96798e"]]},{"id":"20fb026c.96798e","type":"function","z":"dc0dbbe0.fbfa58","name":"finalTrigger","func":"return { payload:flow.get(\"manualMode\")?flow.get(\"switchManualTest\"):flow.get(\"triggerBool\")}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":660,"wires":[["9d437616.1d1e98"]]},{"id":"bdede85a.fc0cd8","type":"ui_led","z":"dc0dbbe0.fbfa58","order":5,"group":"61322fb.05df7d","width":0,"height":0,"label":"Update-Signal","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":590,"y":100,"wires":[]},{"id":"21f18247.a256de","type":"trigger","z":"dc0dbbe0.fbfa58","name":"","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":460,"y":100,"wires":[["bdede85a.fc0cd8"]]},{"id":"a7595330.c9231","type":"switch","z":"dc0dbbe0.fbfa58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1190,"y":660,"wires":[["a5f9700.9e4f09"]]},{"id":"9d437616.1d1e98","type":"function","z":"dc0dbbe0.fbfa58","name":"shouldSendToServer","func":"var currentState = flow.get(\"finalTrigger\")||false;\nflow.set(\"finalTrigger\",msg.payload);\nreturn { payload:currentState!=msg.payload}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":660,"wires":[["a7595330.c9231"]]},{"id":"a5f9700.9e4f09","type":"function","z":"dc0dbbe0.fbfa58","name":"","func":"return flow.get(\"finalTrigger\")?{ payload: {\"port\":1,\"confirmed\":false,\"payload_raw\":\"MQ==\"} }\n:{ payload: {\"port\":1,\"confirmed\":false,\"payload_raw\":\"MA==\"} };\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":600,"wires":[["d19f7cf.77cdb8","953a4c6b.161a6","661b79fa.c15268"]]},{"id":"953a4c6b.161a6","type":"debug","z":"dc0dbbe0.fbfa58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":720,"wires":[]},{"id":"8f340536.adfa48","type":"comment","z":"dc0dbbe0.fbfa58","name":"Variable Control","info":"- flow.get(\"manualMode\"):Master Boolean Value to determine Manuall Mode or Auto Mode, read from Master Switch\n- flow.get(\"switchManualTest\") : Boolean Value from Switch Turn on/off by manual\n- flow.get(\"triggerBool\"): Boolean Value to turn on/off, which was automatically determined by Sensor Value\n- flow.get(\"finalTrigger\"):Final Boolean value which read from two above boolean value: manually and auto . It determines final Trigger for Actor\n- flow.get(\"gardenTemperatur\"): temperatur value read from sensor\n- flow.get(\"gardenHumidity\"): humidity value read from sensor","x":960,"y":480,"wires":[]},{"id":"dfb17d62.75baa","type":"telegram receiver","z":"dc0dbbe0.fbfa58","name":"","bot":"f8a8b9d8.83b308","saveDataDir":"","filterCommands":false,"x":250,"y":940,"wires":[[],[]]},{"id":"1cf00201.b8a65e","type":"telegram sender","z":"dc0dbbe0.fbfa58","name":"","bot":"f8a8b9d8.83b308","haserroroutput":false,"outputs":1,"x":710,"y":960,"wires":[[]]},{"id":"319bbbac.e89864","type":"debug","z":"dc0dbbe0.fbfa58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1080,"wires":[]},{"id":"99f80c4d.3e527","type":"telegram command","z":"dc0dbbe0.fbfa58","name":"Command Help","command":"/help","bot":"f8a8b9d8.83b308","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":240,"y":1000,"wires":[["794dc63c.4b5d58"],[]]},{"id":"794dc63c.4b5d58","type":"function","z":"dc0dbbe0.fbfa58","name":"","func":"return {payload:{chatId: msg.payload.chatId,type: \"message\",content: \"This is auto Bot of Project HtwGardenSS21\"}};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1000,"wires":[["1cf00201.b8a65e"]]},{"id":"66a9d6f.8c43528","type":"telegram command","z":"dc0dbbe0.fbfa58","name":"Command Show","command":"/show","bot":"f8a8b9d8.83b308","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":240,"y":1060,"wires":[["59186926.088888"],[]]},{"id":"59186926.088888","type":"function","z":"dc0dbbe0.fbfa58","name":"","func":"let payload = {chatId: msg.payload.chatId,type: \"message\",content: `Hi there, our current garden's status:\\nTemperatur ${flow.get(\"gardenTemperatur\")},\\nHumidity ${flow.get(\"gardenHumidity\")}`}\nreturn {payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1040,"wires":[["319bbbac.e89864","1cf00201.b8a65e"]]},{"id":"661b79fa.c15268","type":"function","z":"dc0dbbe0.fbfa58","name":"","func":"var reply =\"\";\nswitch(msg.payload.payload_raw) {\n  case \"MQ==\":\n    reply = \"The Actor now turns ON\"\n    break;\n  default:\n    reply = \"The Actor now turns OFF\"\n}\n\nvar msg01 = {payload:{chatId: 871790929,type: \"message\",content: reply}};\n//var msg02 = {payload:{chatId: 1194111410,type: \"message\",content: reply}};\n//let msg02 = {payload:{chatId: 1502932096,type: \"message\",content: reply}};\n//let msg03 = {payload:{chatId: 1490430167,type: \"message\",content: reply}};\nreturn [[msg01,null]];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":820,"wires":[["1cf00201.b8a65e"]]},{"id":"a2638c7e.3ce33","type":"remote-access","z":"dc0dbbe0.fbfa58","confignode":"86c98398.141ce","name":"HTWGardenSS21","verbose":true,"x":970,"y":540,"wires":[[]]},{"id":"7650f386.c257dc","type":"mqtt-broker","name":"ttnserver","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e63b0385.d84da","type":"ui_group","name":"MyBoard","tab":"efc614b4.745c28","order":2,"disp":true,"width":"6","collapse":false},{"id":"c56ebbb1.958f38","type":"ui_group","name":"Main Board","tab":"efc614b4.745c28","order":1,"disp":true,"width":"6","collapse":false},{"id":"61322fb.05df7d","type":"ui_group","name":"Actor Controller/Signal Monitor","tab":"efc614b4.745c28","order":3,"disp":true,"width":"6","collapse":false},{"id":"f8a8b9d8.83b308","type":"telegram bot","botname":"HTWgardenSS21Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"86c98398.141ce","type":"remote-config","name":"Node-RED UI","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"05ito9sm66dbyqk56nezqx6ju4cre1u9kxyh2eavh76exveet9aczofxftgpz65o","server":"nodered02.remote-red.com","region":"de"},{"id":"efc614b4.745c28","type":"ui_tab","name":"Home","icon":"fa-fire","disabled":false,"hidden":false}]